<?xml version="1.0" encoding="UTF-8"?>
<database>
    <property name="driverClassName">com.mysql.cj.jdbc.Driver</property>
    <property name="url">jdbc:mysql://localhost:3306/xzx-tiny-mybatis?serverTimezone=GMT%2B8</property>
    <property name="username">root</property>
    <property name="password">xzx123</property>
</database>